.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-item {
    padding: 0 15px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
    transition: color ease-in-out 200ms;

    &:hover {
        color: var(--primary);
    }

    &.active {
        color: var(--primary);
    }
}
