.title {
    margin-top: 30px;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
}

.card {
    margin: 0 -15px 0 -15px;
}

.custom-input {
    padding: 3px 8px !important;
    font-size: 1.6rem !important;
}
