.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--default-layout-header-height);
}

.text {
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}
